.data {
  padding: 20px;
}

.data h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.data .variable h2 {
  font-size: 1.5rem;
}

.data .variable {
  margin-bottom: 10px;
  color: #aaa;
}

.data .variable.open {
  color: #000;
}

.data .title {
  cursor: pointer;
}

.data .contents {
  padding: 5px 20px;
  display: none;
}

.data .text p:first-child {
  margin: 0;
}

.data .variable.open .contents {
  display: block;
}

