.app .background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.app .sea {
  position: absolute;
  bottom: 0;
  top: 60vh;
  left: 0;
  right: 0;
  background: rgba(28, 129, 142, 0.7);
}

.app .iceberg {
  position: absolute;
  left: 5vw;
  top: calc(60vh - 100px);
  max-width: 80vw;
  min-width: 50vw;
}

.app .bear {
  width: 30vw;
  position: absolute;
  left: 20vw;
  min-width: 270px;
}

.app .toggle {
  width: inherit;
  height: inherit;
  background: none;
  border: none;
  color: #444;
  padding: 15px 20px;
  cursor: pointer;
}

.app .toolbar {
  text-align: right;
}

.app .toggle:hover {
  color: #000;
}

.app .stats {
  padding: 20px;
  font-size: 1rem;
  bottom: 1rem;
  right: 1rem;
  top: unset;
}

.app .stats tr:hover {
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.app .stats th {
  font-weight: normal;
  text-align: left;
}

.app .stats th,
.app .stats td {
  padding: 3px 5px;
}

.app .stats h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}

.app .stats .scaleContainer {
  width: 100px;
}

.app .stats .unitContainer {
  padding-left: 10px;
}

.app .explanation,
.app .questionBox {
  top: 3rem;
}

.app .explanation {
  right: 5rem;
}

.app .questionBox,
.app .explanation.showing {
  right: 1rem;
}

.app .explanation.showing {
  z-index: 1;
}

.app .explanation .toggle {
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.74rem 1rem;
}

.app .dataBox {
  top: 3rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}
